@import "components/reset.css";
@import "sections/header.css";
@import "sections/main-section.css";
@import "sections/footer.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap");

@media screen and ( width <= 990px) {
    .navbar {
        height: 85px;
    }
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.container{
    margin: 0 auto;
    max-width: 90%;
}

.body {
    font-family: 'Montserrat', sans-serif;
}

.btn {
    font-family: 'Montserrat', sans-serif;
}

.active {
    display: block;
}