@import url("../components/modal.css");


.navbar {
    height: 70px;
}

.navi-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 66px;
    height: 59px;
}



.logo-text {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Pacifico', cursive;
    color: rgba(6,72,125,0.76);
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-brand:hover .logo-text{
    color: rgba(192, 100, 7, 0.85);
}

.navbar-brand:hover .logo {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.btn-style {
    margin: 0 20px;
}

.name-container {
    display: flex;
    flex-direction: row;
}

.form-control {
    margin-right: 5px;
}