.background-image {
    background-image: url("../../images/torino.webp");
    width: 100%;
    height: 680px;
    background-repeat: no-repeat;
    object-fit: cover;
    border-bottom-right-radius: 45%;
    position: relative;
    color: white;
    z-index: -3;
}

.background-image:after {
    content: "";
    position: absolute;
    background: linear-gradient(90deg, #035392 0%, rgba(6,72,125,0.76) 45.17%, rgba(14,44,67,0.1) 100%);
    border-bottom-right-radius: 45%;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}

.box-shadow {
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
