.new-visit-title {
    font-family: 'Pacifico', cursive;
    color: #06487dc2;
    font-weight: 400;
    margin-left: 29%;
}

.fw-medium {
    color: #031a2ec2;
}

.additional-fields {
    display: none;
}

.specialist,
.doc,
.urg,
.urgency-btn {
    text-transform: capitalize;
}
